body {
  margin: 0;
  padding: 0;
}
.div__container{
  display: flex;
}
.header__left{
  background-color: red;
  flex: 0.5;
}
.header__right{
  /*font-size: 30px;*/
  flex: 0.5;
  background-color: blue;
}